<div id="filterarea" class="container">
<select ng-model='selections.gender' ng-options="x as x for x in ranges.gender track by x" ng-change="update()">
</select>
<select ng-model='selections.ethnicity' ng-options="x as x for x in ranges.ethnicity track by x" ng-change="update()">
</select>
<select ng-model='selections.injuryLevel' ng-options="x as x for x in ranges.injuryLevel track by x" ng-change="update()">
</select>
<select ng-model='selections.shotAtPolice' ng-options="x as x for x in ranges.shotAtPolice track by x" ng-change="update()">
</select>
<select ng-model='selections.weapons' ng-options="x as x for x in ranges.weapons track by x" ng-change="update()">
</select>
<select ng-model='selections.year' ng-options="x as x for x in ranges.year track by x" ng-change="update()">
</select>
<select ng-model='selections.agencies' ng-options="x as x for x in ranges.agencies track by x" ng-change="update()">
</select>
<select ng-model='selections.incidentCity' ng-options="x as x for x in ranges.incidentCity track by x" ng-change="update()">
</select>
</div>
<div id="iconarea">
	<span class="iconholder" ng-repeat='subject in subjects.data'>
		<img src="/images/{{subject.gender}}.png" class="pplicon" ng-class="{'faded':!subject.filterPass}"/>
	</span>
</div>
<div id="statusbar">
	<div id="innerbar" style="width:{{100*subjects.data.filteredLength/subjects.data.length}}%"></div>
	<p>{{subjects.data.filteredLength}} / {{subjects.data.length}}</p>
</div>
<div class="stories container-fluid">
	<div class="story" ng-repeat="incident in incidents.filtereddata">
		<img ng-repeat="img in incident.imgnames" ng-src='./images/subjects/{{img}}' err-hide="true">
		<h2>{{incident.hed}}</h2>
	</div>
</div>