<div id="filterarea" class="container">
<!-- <select>
	<option ng-repeat="gender in ranges.gender">{{gender}}</option>
</select> -->
<select ng-model='selections.gender' ng-options="x as x for x in ranges.gender" ng-change="update()"></select>
<select ng-model='selections.ethnicity' ng-options="x as x for x in ranges.ethnicity"></select>
</div>
<div id="iconarea">
	<span ng-repeat='subject in subjects.data'>
		<img src="/images/{{subject.gender}}.png" class="pplicon" ng-class="{'faded':!subject.filterPass}"/>
	</span>
</div>