.hide {
  display: none;
}
#cover{
  background-color:#F6F1ED;
  background-image: url('../images/Lineoffirelogo.png');
  width: 100%;
  height: 90vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3%;
}

#cover h1, #cover p{
  max-width: 35%;
  margin: auto;
  top: 30%;
  position: relative;
  text-align: center;
}
#cover h1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*background-image: url('../images/splatter.png');*/
  background-position: -15px 0;
  background-repeat: no-repeat;
  background-size: contain;	
  /*border: 1px solid black;*/
  padding: 1em;
  font-size: 3em;
  text-transform: uppercase;
}

.header, .navbar{
	margin-bottom: 0;
}

#byline{
  text-transform: uppercase;
  margin-bottom: 3%;

}

.footer{
  margin-top: 30px;
}

.pplicon{
  width:30px;
  height:auto;
  margin-bottom:10px;
  opacity: 1;
}

.iconholder{
  width:30px;
  height: 40px;
  display: inline-block;
}

#iconarea{
  margin: auto;
  padding-right: 5px;
}
.faded{
  opacity: .3;
  width: 20px;
 /*   -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;*/
}
#statusbar{
  height: 30px;
  width: 80%;
  margin: auto;
  background-color:#ddd;
  position: relative;
  padding:0;
}
#innerbar{
  background-color: coral;
  height: 30px;
  display: inline-block;
}
#statusbar p{
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 30px;
  font-style: italic;
  font-weight: 100;
}
.stories{
  width:80%;
}
.stories a, .stories a:hover{
  text-decoration: none;
  color:initial;
}

.story{
  background-color: rgba(200,200,200,.15);
  margin: 10px 0;
  padding: 5px;
  padding-left: 15px;
  border: 1px solid white;
}
.story:hover{
  border:1px solid coral;
}
.story *{
  display: inline-block;
}
.story h2{
  font-size: 1.3em;
  width: 80%;
}
.story img{
  min-width: 60px;
  width: 8%;
  height: auto;
  padding-right: 20px;
}
#credits{
  list-style: none;
  padding: 0;
}
#credits li{
  display: inline;
}
#credits li:after{
  content: ' |';
}
.sidebar{
  width: 25%;
  display: inline-block;
  min-width: 300px;
  margin-top: 110px;
}
.sidebar img{
  margin: auto;
  max-width: 200px;
  display: block;
}
.mainbar{
  display: inline-block;
  vertical-align: top;
}
h1.storyhed{
  line-height: 30px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid coral;
}

select {
  margin: 10px;
  color: cadetblue;
  border:0;
  text-align: center;
}

#filterarea{
  margin-bottom: 40px;
}

#subjectfilters{
  background-color: #F6F1ED;
  padding-bottom: 40px;
}
.progress.container {
  padding: 0;
  position: relative;
}
.progress p{
  text-align: right;
  padding-right: 10px;
  font-style: italic;
  position: absolute;
  right: 0;
}
.progress-bar{
  background-color: coral;
}
