.hide {
  display: none;
}
#cover{
  background-color:#F6F1ED;
  background-image: url('../images/Lineoffirelogo.png');
  width: 100%;
  height: 50vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#cover h1, #cover p{
  max-width: 35%;
  margin: auto;
  top: 30%;
  position: relative;
  text-align: center;
}
#cover h1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*background-image: url('../images/splatter.png');*/
  background-position: -15px 0;
  background-repeat: no-repeat;
  background-size: contain;	
  /*border: 1px solid black;*/
  padding: 1em;
  font-size: 3em;
  text-transform: uppercase;
}

.header, .navbar{
	margin-bottom: 0;
}

#byline{
  text-transform: uppercase;
  margin-bottom: 3%;

}

.footer{
  margin-top: 30px;
}

.pplicon{
  width:30px;
  height:auto;
  margin-bottom:10px;
  opacity: 1;
}

.iconholder{
  width:30px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}

#iconarea{
  margin: auto;
  padding-right: 5px;
}
.faded{
  opacity: .3;
  width: 20px;
}
#statusbar{
  height: 30px;
  width: 80%;
  margin: auto;
  background-color:#ddd;
  position: relative;
  padding:0;
}
#innerbar{
  background-color: #C53B3B;
  height: 30px;
  display: inline-block;
}
#statusbar p{
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 30px;
  font-style: italic;
  font-weight: 100;
}
.stories{
  width:80%;
}
.stories a, .stories a:hover{
  text-decoration: none;
  color:initial;
}

.story{
  background-color: rgba(200,200,200,.4);
  margin: 10px 0;
  border: 1px solid white;
  cursor: pointer;
  
  min-height: 55px;
}
.story:hover{
  border:1px solid #C53B3B;
}
.story *{
  display: inline-block;
}
.story h2{
  font-size: 1.2em;
  text-transform: none;
  text-transform: initial;
  margin: 0;
    display: inline-block;
  padding-top: 20px;
  padding-left: 5px;
}
.story img{
  width: auto;
  height: 60px;
  padding-right: 20px;
   -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#credits{
  list-style: none;
  padding: 0;
}
#credits li{
  display: inline;
}
#credits li:after{
  content: ' |';
}
.sidebar{
  width: 25%;
  display: inline-block;
}
.sidebar img{
  margin: auto;
  width: 150px;
  display: block;
}
.mainbar{
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
h1.storyhed{
  line-height: 30px;
  font-size: 28px;
  margin-left: 25%;
  margin-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #C53B3B;

}
h2{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
}

select {
  margin: 10px;
  color: #046380;
  border:0;
  text-align: center;
}

#filterarea{
  margin-bottom: 40px;
}

#subjectfilters{
  background-color: #F6F1ED;
  padding-bottom: 40px;
}
.progress.container {
  padding: 0;
  position: relative;
}
.progress p{
  text-align: right;
  padding-right: 10px;
  font-style: italic;
  position: absolute;
  right: 0;
}
.progress-bar{
  background-color: #C53B3B;
}
.main.prop .propvalue{
  background: #C53B3B;
  margin-right: 10px;
  color: white;
  padding: 3px;
}
.prop .proplabel{
  font-weight: 100;
  color:#333;
}

.prop.sub{
  padding: 3px;
  width: 150px;
  display: block;
  background: rgba(200,200,200,.3);
  border: 1px solid #ddd;
  margin: 3px auto;
  text-align: center;
}

.propvalue.name{
  color:#C53B3B;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display: block;
  letter-spacing: 2px;
}
.subject {
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.summary{
  margin-top: 40px;
}
a.storybtn, a.storybtn:hover{
  text-decoration: none;
}
a#prev, a#next, a#home{
  font-size: 10px;
  display: inline-block;
  position: absolute;
}
a#prev{
  left:0;
  top:0;
}
a#next{
  right:0;
  top:0;
}
a#home{
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  margin:auto;

}

a#prev::after{
  content: 'PREV';
}
a#next::before{
  content: 'NEXT';
}
a#prev::after, a#next::before{
  color: #C53B3B;
  font-size: 1.1em;
  letter-spacing: 3px;
  padding-top: 2px;
}
#btnarea{
  width: 100%;
  height: 50px;
  margin-top: 50px;
  position: relative;
}
.glyphicon{
  font-size: 3em;
  vertical-align: middle;
  color: #C53B3B;
}
.header, .navbar{
  background-color: #333;
  border:0;
}
.navbar-brand > img {
  display: block;
  width: 250px;
}
#lede{
  background: #F6F1ED;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3%;
  letter-spacing: 2px;
  font-weight: 200;
}

@media only screen and (max-width: 767px) {
  h1.storyhed{
    margin: initial;
    width:95%;
    margin: auto;
    font-size: 1.4em;
  }
  .sidebar{
    width:90%;
    margin-top: 20px;
    margin: auto;
  }
  .prop.sub{
    width: 100%;
  }
  .sidebar img{
    width: 100px;
    display: inline-block;
    vertical-align: top;
  }
  #sidebarprops{
    display: inline-block;
    width: 70%;
  }
  .subject{
    margin: auto;
    margin-top: 2%;
    width: 80%;
  }
  .mainbar{
    display: block;
  width: 75%;
  margin: auto;
  margin-top: 2%;
  }
  .prop.main .proplabel{

  display: block;
  }
  #lede{
    font-size: 1.2em;
  }
  .iconholder{
    width: 20px;
    height: 30px;
  }
  .pplicon{
    width: 20px;
    margin-bottom: 5px;
  }
  .pplicon.faded{
    width: 15px;
  }
  .progress, #iconarea, #filterare{
    width: 90%;
  }

}
@media only screen and (max-width: 480px) {
    .sidebar img{
    width: 80px;
  }
  .prop.sub{
    padding: 0;
  }
  .iconholder {
  height: 20px;
  width: 15px;
}
}
